<section class="news-details">
    <div class="news-details__container">
        <h1 class="news-details__title">Нижегородский Минстрой выдал разрешение на строительство канатной дороги
            через Оку</h1>
        <figure class="news-details__cover">
            <img src="../../assets/images/news-1.jpg" alt="">
        </figure>
        <div class="news-details__content">
            <p class="news-details__paragraph"></p>
            <p class="news-details__paragraph"><a class="news-details__link"
                    href="https://disk.yandex.ru/d/bCgcSq74F7lpQw">https://disk.yandex.ru/d/bCgcSq74F7lpQw</a> </p>
            <blockquote class="news-details__quote"></blockquote>
            <p class="news-details__paragraph"><strong></strong></p>
            <img class="news-details__image" src="../../assets/images/news-6-2.jpg" alt="">
            <figure class="news-details__line">
                <hr>
            </figure>
            <ul class="news-details__list news-details__list--bulleted">
                <li class="news-details__item"></li>
            </ul>
            <ul class="news-details__list news-details__list--numbered">
                <li class="news-details__item"></li>
            </ul>
            <p class="news-details__paragraph">Источник: <a class="news-details__link-underline"
                    href="https://nobl.ru/novosti-nizhegorodskoj-oblasti-za-vse-vremya/v-nizhnem-novgorode-podveli-itogi-konkursa-detskikh-risunkov-o-novoy-kanatnoy-doroge"
                    target="_blank">Правительство Нижегородской области</a></p>
            <span class="news-details__extra"></span>

        </div>
        <time class="news-details__date" datetime="2025-05-20">20.05.2025</time>
    </div>
</section>
