@use "../utils/utils" as *;

.about-project {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 60px 0;

  @include media(992.98, "max") {
    padding: 40px 0 65px;
  }

  // .about-project__decor-first
  &__decor-first {
    position: absolute;
    left: 0;
    top: 50px;
    max-width: 500px;
    width: 100%;
    height: 215px;
    @include media(992.98, "max") {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left;
    }
  }

  // .about-project__decor-second
  &__decor-second {
    position: absolute;
    right: 35px;
    bottom: 0;
    max-width: 615px;
    width: 100%;
    height: 150px;
    @include media(992.98, "max") {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: bottom;
    }
  }

  // .about-project__headline
  &__headline {
    padding-bottom: 28px;
    margin-bottom: 48px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @include media(992.98, "max") {
      padding-bottom: 15px;
      margin-bottom: 32px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #c7c7c7;
    }
  }

  // .about-project__logo
  &__logo {
    max-width: 423px;
    height: auto;
    width: 100%;

    @include media(992.98, "max") {
      width: auto;
      max-width: initial;
      height: 40px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &-desktop {
      display: block;
      @include media(992.98, "max") {
        display: none;
      }
    }

    &-mobile {
      display: none;
      @include media(992.98, "max") {
        display: block;
      }
    }
  }

  // .about-project__title
  &__title {
    @include graphik-medium;
    font-size: 48px;
    line-height: 100%;
    color: $title-color;

    @include media(992.98, "max") {
      font-size: 32px;
    }

    @include media(576.98, "max") {
      font-size: 19px;
    }
  }

  // .about-project__content
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include media(992.98, "max") {
      flex-direction: column;
      gap: 28px;
    }
  }

  // .about-project__left
  &__left {
    flex-basis: 40%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;

    @include media(1440.98, "max") {
      flex-basis: 45%;
      max-width: 45%;
    }

    @include media(992.98, "max") {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  // .about-project__description
  &__description {
    @include graphik-medium;
    font-size: 40px;
    line-height: 54px;
    color: $black;

    @include media(992.98, "max") {
      font-size: 30px;
      line-height: 130%;
    }

    @include media(576.98, "max") {
      font-size: 25px;
    }
  }

  // .about-project__right
  &__right {
    flex-basis: 48%;
    max-width: 48%;
    @include media(992.98, "max") {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  // .about-project__text
  &__text {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0%;
    margin-bottom: 66px;

    @include media(992.98, "max") {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 24px;
    }

    @include media(576.98, "max") {
      font-size: 18px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
