@use "../utils/utils" as *;

.banner {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1920 / 690;
  width: 100%;
  @include media(992.98, "max") {
    aspect-ratio: 1920 / 800;
  }
  @include media(576.98, "max") {
    aspect-ratio: initial;
    height: 395px;
  }

  // .banner__background
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 975px;
      background: linear-gradient(
        176.95deg,
        rgba(0, 0, 0, 0) 44.11%,
        rgba(0, 0, 0, 0.84) 102.58%
      );
      transform: matrix(-1, 0, 0, 1, 0, 0);
      pointer-events: none;

      @include media(576.98, "max") {
        height: 100%;
        background: linear-gradient(
          181.14deg,
          rgba(0, 0, 0, 0) 15.29%,
          #000000 88.47%
        );
      }
    }

    &-desktop {
      display: block;
      @include media(576.98, "max") {
        display: none;
      }
    }

    &-mobile {
      display: none;
      @include media(576.98, "max") {
        display: block;
      }
    }
  }

  // .banner__headline
  &__headline {
    max-width: 1810px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    @include media(1900.98, "max") {
      max-width: 100%;
      padding: 0 55px;
    }

    @include media(1280.98, "max") {
      margin-bottom: 20px;
      gap: 4px 18px;
    }

    @include media(992.98, "max") {
      padding: 0 25px;
    }

    @include media(768.98, "max") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(576.98, "max") {
      padding: 0 12px;
      padding-bottom: 25px;
      margin-bottom: 0;
      gap: 4px 10px;
    }
  }

  // banner__title-text
  &__title-text {
    @include graphik-bold;
    font-size: 66px;
    line-height: 100%;
    text-align: left;
    color: $white;
    white-space: nowrap;
    display: contents;

    @include media(1600.98, "max") {
      font-size: 52px;
      width: 100%;
    }

    @include media(1440.98, "max") {
      font-size: 46px;
    }

    @include media(1280.98, "max") {
      font-size: 32px;
    }
  }

  // .banner__title-line
  &__title-line {
    width: 100%;
    height: 6px;
    background: $white;
    border-radius: 10px;

    @include media(768.98, "max") {
      margin-left: -20px;
      width: calc(100% + 20px);
    }
  }
}
