@use "../utils/utils" as *;

.banner {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1920 / 690;
  width: 100%;
  @include media(992.98, "max") {
    aspect-ratio: 1920 / 800;
  }
  @include media(576.98, "max") {
    aspect-ratio: initial;
    height: 395px;
  }

  // .banner__background
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 975px;
      background: linear-gradient(
        176.95deg,
        rgba(0, 0, 0, 0) 44.11%,
        rgba(0, 0, 0, 0.84) 102.58%
      );
      transform: matrix(-1, 0, 0, 1, 0, 0);
      pointer-events: none;

      @include media(576.98, "max") {
        height: 100%;
        background: linear-gradient(
          181.14deg,
          rgba(0, 0, 0, 0) 15.29%,
          #000000 88.47%
        );
      }
    }

    &-desktop {
      display: block;
      @include media(576.98, "max") {
        display: none;
      }
    }

    &-mobile {
      display: none;
      @include media(576.98, "max") {
        display: block;
      }
    }
  }

  // .banner__headline
  &__headline {
    max-width: 1810px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    margin-bottom: 55px;

    @include media(1900.98, "max") {
      max-width: 100%;
      padding: 0 55px;
    }

    @include media(1280.98, "max") {
      margin-bottom: 30px;
    }

    @include media(992.98, "max") {
      padding: 0 25px;
    }

    @include media(576.98, "max") {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 12px;
      padding-bottom: 36px;
      margin-bottom: 0;
    }
  }

  // .banner__title
  &__title {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    @include media(1280.98, "max") {
      gap: 4px 0;
    }

    @include media(768.98, "max") {
      margin-bottom: 24px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(576.98, "max") {
    }
  }

  // banner__title-text
  &__title-text {
    @include graphik-bold;
    font-size: 66px;
    line-height: 100%;
    text-align: left;
    color: $white;
    white-space: nowrap;
    display: contents;

    @include media(1600.98, "max") {
      font-size: 52px;
      width: 100%;
    }

    @include media(1440.98, "max") {
      font-size: 46px;
    }

    @include media(1280.98, "max") {
      font-size: 32px;
    }
  }

  // .banner__title-line
  &__title-line {
    width: 100%;
    height: 6px;
    background: $white;
    border-radius: 10px;

    @include media(768.98, "max") {
      margin-left: -20px;
      width: calc(100% + 20px);
    }
  }

  // .banner__subtitle
  &__subtitle {
    display: block;
    font-size: 42px;
    line-height: 100%;
    color: $white;
    text-align: left;
    width: 100%;
    margin-bottom: 40px;

    @include media(1280.98, "max") {
      font-size: 24px;
      margin-bottom: 30px;
    }

    @include media(576.98, "max") {
      margin-bottom: 28px;
    }
  }

  // .banner__link
  &__link {
    max-width: 440px;
    width: 100%;
    height: 80px;
    padding: 24px 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.44) 0%,
      rgba(255, 255, 255, 0.36) 100%
    );
    backdrop-filter: blur(25px);
    border-radius: 16px;
    cursor: pointer;
    scale: 1;
    transition: all 0.3s ease-in-out;

    @include media(1280.98, "max") {
      height: 60px;
      padding: 14px 30px;
      max-width: 360px;
      gap: 2rem;
    }

    @include media(768.98, "max") {
      gap: 0;
      max-width: 300px;
    }

    @include media(576.98, "max") {
      max-width: 250px;
      padding: 15px 30px;
      height: 50px;
    }

    &:hover {
      scale: 1.02;
    }
  }

  // .banner__link-text
  &__link-text {
    @include graphik-medium;
    font-size: 32px;
    line-height: 100%;
    color: #ffffff;

    @include media(1280.98, "max") {
      font-size: 26px;
    }
    @include media(768.98, "max") {
      font-size: 20px;
    }

    @include media(576.98, "max") {
      font-size: 16px;
    }
  }
  // .banner__link-icon
  &__link-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;

    @include media(576.98, "max") {
      height: 15px;
      width: 15px;
    }
  }
}
