@use "../utils/utils" as *;

.cableway-info {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 60px 0;

  @include media(992.98, "max") {
    padding: 40px 0;
  }

  // .cableway-info__title
  &__title {
    @include graphik-medium;
    font-size: 48px;
    line-height: 100%;
    color: $title-color;
    margin-bottom: 28px;

    @include media(992.98, "max") {
      font-size: 32px;
      margin-bottom: 24px;
    }

    @include media(576.98, "max") {
      font-size: 19px;
    }
  }

  // .cableway-info__swiper
  &__swiper {
    @include media(1280.98, "max") {
      overflow: visible;
    }
  }

  // .cableway-info__swiper-wrapper
  &__swiper-wrapper {
    box-sizing: border-box;
  }

  // .cableway-info__swiper-slide
  &__swiper-slide {
    height: auto;
    border: 1px solid #cecece;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    display: flex;

    @include media(1280.98, "max") {
      background: $white;
      border-radius: 18px;
    }

    @include media(1280.99, "min") {
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: $white;
        position: absolute;
        top: 0;
        left: 0;
        clip-path: circle(0% at 1% 1%);
        transition: all 0.6s ease-in-out;
        z-index: 1;
        @include media(1280.98, "max") {
          display: none;
        }
      }
    }
  }

  // .cableway-info__card
  &__card {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    padding: 40px 40px 70px;
    flex: 1;
    @include media(1280.98, "max") {
      gap: 20px;
    }

    @include media(992.98, "max") {
      padding: 25px 25px 70px;
    }
  }

  // .cableway-info__card-headline
  &__card-headline {
    height: 95px;
  }

  // .cableway-info__card-value
  &__card-value {
    @include graphik-bold;
    font-size: 72px;
    line-height: 90%;
    color: #063764;

    @include media(992.98, "max") {
      font-size: 62px;
    }

    @include media(576.98, "max") {
      font-size: 45px;
    }
  }

  // .cableway-info__card-label
  &__card-label {
    @include graphik-medium;
    font-size: 32px;
    line-height: 90%;
    color: #063764;

    @include media(992.98, "max") {
      font-size: 28px;
    }

    @include media(576.98, "max") {
      font-size: 20px;
    }
  }

  // .cableway-info__card-content
  &__card-content {
  }

  // .cableway-info__card-text
  &__card-text {
    font-size: 22px;
    line-height: 150%;
    width: 100%;
    white-space: nowrap;

    @include media(1900.98, "max") {
      white-space: wrap;

      br {
        display: none;
      }
    }

    @include media(1280.98, "max") {
      margin-top: 0;
      max-width: 100%;
    }

    @include media(992.98, "max") {
      font-size: 20px;
    }

    @include media(576.98, "max") {
      font-size: 18px;
      line-height: 28px;
    }
  }
}
