@use "../utils/utils" as *;

.feedback {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 60px 0;

  @include media(992.98, "max") {
    padding: 0 0 40px;
  }

  // .feedback__wrapper
  &__wrapper {
    border-radius: 32px;
    padding: 60px;
    background: #eef0fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media(992.98, "max") {
      padding: 40px 20px;
      border-radius: 20px;
    }

    @include media(576.98, "max") {
      padding: 24px 19px;
    }
  }

  // .feedback__header
  &__header {
    max-width: 770px;
    width: 100%;

    @include media(992.98, "max") {
      max-width: 100%;
    }
  }

  // .feedback__title
  &__title {
    @include graphik-medium;
    font-size: 48px;
    line-height: 100%;
    color: $title-color;
    margin-bottom: 28px;
    text-align: center;

    @include media(992.98, "max") {
      font-size: 32px;
      margin-bottom: 28px;
    }

    @include media(576.98, "max") {
      font-size: 19px;
    }
  }

  // .feedback__text
  &__text {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 36px;

    @include media(992.98, "max") {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 21px;

      br {
        display: none;
      }
    }
  }

  // .feedback__form
  &__form {
    max-width: 895px;
    width: 100%;

    @include media(992.98, "max") {
      max-width: 100%;
    }
  }

  // .feedback__field
  &__field {
    width: 100%;
    margin-bottom: 20px;
    display: block;
    position: relative;

    @include media(992.98, "max") {
      margin-bottom: 12px;
    }
  }

  // .feedback__input
  &__input {
    width: 100%;
    height: 100px;
    font-size: 22px;
    line-height: 40px;
    background: $white;
    border-radius: 8px;
    padding: 30px 32px;
    align-items: center;
    border: 1px solid transparent;

    @include media(992.98, "max") {
      font-size: 20px;
    }

    @include media(576.98, "max") {
      font-size: 18px;
      padding: 11px 20px;
      border-radius: 10px;
      height: 50px;
    }

    &::placeholder {
      color: #919191;
      opacity: 1;
      transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $text-color;
      -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
      -webkit-transition: background-color 5000s ease-in-out 0s;
      transition: background-color 5000s ease-in-out 0s;
    }

    &--error {
      border: 1px solid #ff0000;
    }
  }

  // .feedback__field--textarea
  &__field--textarea {
  }

  // .feedback__input--textarea
  &__input--textarea {
    resize: none;
    height: 270px;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $text-color;
      -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
      -webkit-transition: background-color 5000s ease-in-out 0s;
      transition: background-color 5000s ease-in-out 0s;
    }

    @include media(992.98, "max") {
      height: 155px;
    }
  }

  // .feedback__field--file
  &__field--file {
    margin-bottom: 0;
    background: transparent;
    height: 62px;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;

    @include media(992.98, "max") {
      height: 40px;
    }

    @include media(576.98, "max") {
      height: 53px;
      width: 100%;
    }
  }

  // .feedback__input--file
  &__input--file {
    display: none;
  }

  &__label--file {
    @include graphik-medium;
    padding: 10px 32px;
    background: #3148d1;
    color: $white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    @include media(992.98, "max") {
      padding: 10px 25px;
      font-size: 20px;
    }

    @include media(576.98, "max") {
      border-radius: 10px;
      padding: 19px 20px;
      font-size: 18px;
      background: transparent;
      border: 0.5px solid rgba(49, 72, 209, 1);
      color: $title-color;
      width: 100%;
      margin-top: -5px;
    }

    // .file-info
    .file-info {
      font-size: 22px;
      line-height: 100%;
      color: $white;

      @include media(992.98, "max") {
        font-size: 20px;
      }

      @include media(576.98, "max") {
        font-size: 18px;
        color: $title-color;
      }
    }

    svg {
      flex-shrink: 0;
      width: 18px;
      height: 14px;
      order: -1;
      @include media(576.98, "max") {
        path {
          fill: $title-color;
        }
      }
    }
  }

  // .feedback__button
  &__button {
    @include graphik-medium;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    line-height: 100%;
    padding: 30px;
    background: #3148d1;
    color: $white;
    border-radius: 8px;
    margin-top: 110px;

    @include media(992.98, "max") {
      font-size: 24px;
      padding: 20px;
      margin-top: 80px;
    }

    @include media(576.98, "max") {
      font-size: 18px;
      margin-top: 16px;
      border-radius: 10px;
      padding: 19px 20px;
      height: 53px;
    }
  }

  // .feedback__privacy
  &__privacy {
    @include graphik-medium;
    font-size: 24px;
    line-height: 127%;
    color: $black;
    text-align: center;
    max-width: 623px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;

    @include media(992.98, "max") {
      font-size: 20px;
    }

    @include media(576.98, "max") {
      margin-top: 20px;
      @include graphik-regular;
      font-size: 18px;
      line-height: 28px;
    }
  }

  // .error-message
  .error-message {
    color: #ff0000;
    font-size: 20px;
    line-height: 40px;
    background: $white;
    padding: 6px 32px;
    position: absolute;
    bottom: -35px;
    left: 20px;
    z-index: 1;
    box-shadow: 0px 10px 36px 0px rgba(0, 0, 0, 0.16);

    @include media(576.98, "max") {
      padding: 11px 15px;
      font-size: 14px;
      line-height: 28px;
      bottom: -53px;
      left: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 24px;
      width: 14px;
      height: 16px;
      background: url("../assets/images/icons/arrow-error.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: 2;
    }

    @include media(576.98, "max") {
      font-size: 14px;
    }
  }
}
