@use "../utils/utils" as *;

.header-news {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: #ffffff;
  border-bottom: 1px solid rgba(204, 204, 204, 1);
  backdrop-filter: blur(20px);
  z-index: 1000;

  @include media(576.98, "max") {
    height: 68px;
  }

  // .header-news__container
  &__container {
    height: 100%;
  }

  // .header-news__wrapper
  &__wrapper {
    padding: 30px 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include media(576.98, "max") {
      padding: 23px 0;
    }
  }

  // .header-news__button--close
  &__button--close {
    width: 30px;
    height: 20px;
    position: absolute;
    left: 0;
    z-index: 1;

    @include media(576.98, "max") {
      width: 22px;
      height: 15px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .header-news__title
  &__title {
    @include graphik-medium;
    font-size: 22px;
    line-height: 100%;

    @include media(576.98, "max") {
      font-size: 20px;
    }
  }
}
