@use "../utils/utils" as *;

.main-events {
  margin-bottom: 60px;
  background: linear-gradient(
    94.11deg,
    #2f49cd -3.99%,
    #6079f6 51.16%,
    #334dd1 99.87%
  );
  padding: 60px 0 100px;
  overflow: hidden;
  position: relative;

  @include media(992.98, "max") {
    margin-bottom: 40px;
  }

  @include media(576.98, "max") {
    padding: 36px 0 40px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-image: url("../assets/images/icons/decor-main-events.svg");
    width: 100%;
    height: 100%;
  }

  // .main-events__title
  &__title {
    @include graphik-medium;
    font-size: 48px;
    line-height: 100%;
    color: $title-color;
    padding: 31px 60px;
    background: $white;
    border-radius: 26px;
    margin-bottom: 60px;
    width: max-content;
    position: relative;
    z-index: 1;

    @include media(1280.98, "max") {
      font-size: 38px;
    }

    @include media(992.98, "max") {
      font-size: 32px;
    }

    @include media(768.98, "max") {
      font-size: 22px;
      background: transparent;
      border-radius: 0;
      padding: 0;
      color: $white;
    }

    @include media(576.98, "max") {
      margin-bottom: 24px;
      font-size: 19px;
    }
  }

  // .main-events__swiper
  &__swiper {
    height: auto;
    overflow: visible;
  }

  // .main-events__swiper-wrapper
  &__swiper-wrapper {
    height: 300px;
    @include media(1600.98, "max") {
      height: 250px;
    }

    @include media(576.98, "max") {
      height: 175px;
    }
  }

  // .main-events__swiper-slide
  &__swiper-slide {
    &.swiper-slide-active {
      .main-events__slide-wrapper {
        height: 100%;
      }

      .main-events__slide-stage {
        height: 100%;
      }
    }
  }

  // .main-events__slide-wrapper
  &__slide-wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .main-events__slide-stage
  &__slide-stage {
    display: flex;
    justify-content: space-between;
    background: $white;
    border-radius: 28px;
    overflow: hidden;
    width: 100%;
    height: 90%;
    transition: height 0.3s ease-out;

    @include media(576.98, "max") {
      height: 100%;
      border-radius: 16px;
    }
  }

  // .main-events__slide-stage-completed
  &__slide-stage-completed {
    .main-events__slide-subtitle-text {
      color: #72ac38;
    }
  }

  // .main-events__slide-stage-ongoing
  &__slide-stage-ongoing {
    .main-events__slide-subtitle-text {
      color: $title-color;
    }
  }

  // .main-events__slide-stage-await
  &__slide-stage-await {
    .main-events__slide-subtitle-text {
      color: #737373;
    }
  }

  // .main-events__slide-left
  &__slide-left {
    padding: 26px 20px;
    width: 100%;
    @include media(576.98, "max") {
      padding: 14px 12px;
    }
  }

  // .main-events__slide-subtitle
  &__slide-subtitle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;

    @include media(576.98, "max") {
      margin-bottom: 8px;
      gap: 6px;
    }

    img {
      width: 30px;
      height: auto;
      object-fit: cover;

      @include media(992.98, "max") {
        width: 22px;
      }
      @include media(576.98, "max") {
        width: 16px;
      }
    }
  }

  // .main-events__slide-subtitle-circle
  &__slide-subtitle-circle {
    width: 23px;
    height: 23px;
    background: $title-color;
    border-radius: 50%;

    @include media(992.98, "max") {
      width: 19px;
      height: 19px;
    }
    @include media(576.98, "max") {
      width: 13px;
      height: 13px;
    }
  }

  // .main-events__slide-subtitle-text
  &__slide-subtitle-text {
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 0%;

    @include media(992.98, "max") {
      font-size: 16px;
    }
    @include media(576.98, "max") {
      font-size: 12px;
    }
  }

  // .main-events__slide-title
  &__slide-title {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0%;
    color: #324157;
    white-space: nowrap;

    @include media(1900.98, "max") {
      white-space: wrap;

      br {
        display: none;
      }
    }

    @include media(992.98, "max") {
      font-size: 18px;
    }
    @include media(576.98, "max") {
      font-size: 16px;
    }
  }

  // .main-events__slide-right
  &__slide-right {
    max-width: 250px;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }

    @include media(992.98, "max") {
      max-width: 220px;
    }
    @include media(576.98, "max") {
      max-width: 180px;
    }
  }

  // .main-events__swiper-nav
  &__swiper-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 810px;
    width: 100%;
    margin: 0 auto;
    z-index: 100;

    @include media(768.98, "max") {
      position: relative;
      top: initial;
      left: initial;
      transform: initial;
      max-width: 100%;
      padding: 0 11px;
      margin-top: 11px;
    }
  }

  // .main-events__swiper-button-next
  &__swiper-button-next {
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    box-shadow: 0px 5px 13.6px 0px rgba(0, 0, 0, 0.16);
    border: 1px solid rgba(236, 236, 236, 1);
    background: $white;
    border-radius: 13px;
    transition: opacity 0.3s;

    @include media(576.98, "max") {
      width: 40px;
      height: 40px;
      border-radius: 8px;
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 60%;
      width: 19px;
      height: 29px;
      transform: translate(-50%, -50%) rotate(180deg);
      background-image: url("../assets/images/icons/arrow-slide.svg");
      background-repeat: no-repeat;
      background-size: contain;
      @include media(576.98, "max") {
        width: 13px;
        height: 20px;
      }
    }
  }
  // .main-events__swiper-button-prev
  &__swiper-button-prev {
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    box-shadow: 0px 5px 13.6px 0px rgba(0, 0, 0, 0.16);
    border: 1px solid rgba(236, 236, 236, 1);
    background: $white;
    border-radius: 13px;
    transition: opacity 0.3s;
    @include media(576.98, "max") {
      width: 40px;
      height: 40px;
      border-radius: 8px;
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 40%;
      width: 19px;
      height: 29px;
      transform: translate(-50%, -50%);
      background-image: url("../assets/images/icons/arrow-slide.svg");
      background-repeat: no-repeat;
      background-size: contain;
      @include media(576.98, "max") {
        width: 13px;
        height: 20px;
      }
    }
  }
}
