@use "../utils/utils" as *;

.news-all {
  width: 100%;
  height: 100%;
  margin: 210px 0 100px;

  @include media(992.98, "max") {
    margin: 25px 0 35px;
  }

  // .news-all__title
  &__title {
    @include graphik-medium;
    font-size: 48px;
    line-height: 100%;
    color: $title-color;
    margin-bottom: 76px;
    text-align: center;

    @include media(992.98, "max") {
      font-size: 32px;
      margin-bottom: 45px;
    }

    @include media(576.98, "max") {
      font-size: 19px;
      margin-bottom: 32px;
      color: $black;
    }
  }

  // .news-all__list
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 95px 20px;

    @include media(1280.98, "max") {
      grid-template-columns: repeat(1, 1fr);
      gap: 50px 20px;
    }

    @include media(768.98, "max") {
      gap: 0;
    }
  }

  // .news-all__item
  &__item {
    min-height: 745px;

    @include media(1440.98, "max") {
      min-height: 500px;
    }

    @include media(1280.98, "max") {
      min-height: initial;
      height: 100%;
    }

    &:last-child {
      .news-all__link {
        @include media(1280.98, "max") {
          padding-bottom: 0;
        }
      }
    }
  }

  // .news-all__link
  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include media(1280.98, "max") {
      flex-direction: row;
      gap: 40px;
      padding: 0 0 40px;
    }

    @include media(768.98, "max") {
      flex-direction: column;
      gap: 0;
    }

    @include media(576.98, "max") {
      padding: 0 0 50px;
    }
  }

  // .news-all__image
  &__image {
    margin-bottom: 64px;

    @include media(1440.98, "max") {
      margin-bottom: 40px;
    }

    @include media(1280.98, "max") {
      min-width: 400px;
    }

    @include media(768.98, "max") {
      min-width: initial;
    }

    @include media(576.98, "max") {
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .news-all__content
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    @include media(1280.98, "max") {
      height: auto;
    }
  }

  // .news-all__item-title
  &__item-title {
    @include graphik-medium;
    font-size: 24px;
    line-height: 127%;
    color: $black;
    margin-bottom: 25px;

    @include media(1900.98, "max") {
      br {
        display: none;
      }
    }

    @include media(1440.98, "max") {
      font-size: 18px;
    }

    @include media(1280.98, "max") {
      font-size: 20px;
    }

    @include media(576.98, "max") {
      margin-bottom: 20px;
      line-height: 130%;
    }
  }

  // .news-all__item-text
  &__item-text {
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 40px;

    @include media(1440.98, "max") {
      font-size: 14px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    @include media(1280.98, "max") {
      line-height: 130%;
      font-size: 18px;
    }

    @include media(576.98, "max") {
      line-height: 28px;
      margin-bottom: 20px;
    }
  }

  // .news-all__date
  &__date {
    @include graphik-medium;
    font-size: 16px;
    line-height: 100%;
    text-align: left;
    color: $title-color;
    margin-top: auto;

    @include media(1280.98, "max") {
      margin-top: 0;
      font-size: 16px;
    }
  }
}
