<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>kdoka</title>
</head>

<body>
  <include src="../blocks/header.html"></include>
  <main>
    <include src="../blocks/banner.html"></include>
    <include src="../blocks/about-project.html"></include>
    <include src="../blocks/map.html"></include>
    <include src="../blocks/cableway-info.html"></include>
    <include src="../blocks/main-events.html"></include>
    <include src="../blocks/gallery.html"></include>
    <include src="../blocks/news-block.html"></include>
    <include src="../blocks/faq.html"></include>
    <include src="../blocks/feedback.html"></include>
  </main>
  <include src="../blocks/footer.html"></include>

</body>

</html>
