// Utils
@use "./utils/utils";

// Base
@use "./base/normalize";
@use "./base/globals";

// Blocks
@use "./blocks/header";
@use "./blocks/footer";

// Pages
@use "./pages/home";
@use "./pages/news";
@use "./pages/news-detail";
