<section class="about-project" id="about">
    <div class="about-project__decor-first">
        <img src="../../assets/images/about-project-decor-1.svg" alt="">
    </div>
    <div class="about-project__decor-second">
        <img src="../../assets/images/about-project-decor-2.svg" alt="">
    </div>
    <div class="about-project__container container">
        <h2 class="about-project__title">О проекте</h2>
        <div class="about-project__content">
            <div class="about-project__left">
                <p class="about-project__description">Канатная дорога через Оку — новый, быстрый, комфортный и
                    экологичный способ передвижения между левым и правым берегом Нижнего Новгорода</p>
            </div>
            <div class="about-project__right">
                <p class="about-project__text">Реализацией проекта второй канатной дороги в Нижнем Новгороде занимается
                    Группа компаний «Урбантех». Это один из крупнейших российских операторов инфраструктурных проектов
                    на транспорте. В портфеле Группы компаний — проекты в сфере транспортного планирования и
                    моделирования, управления трафиком, обеспечения безопасности дорожного движения. </p>
                <p class="about-project__text">Новая канатная дорога в Нижнем Новгороде объединит в себе лучшие мировые
                    практики и технологии. <br />
                    Проект реализуется по принципу государственно-частного партнерства на основе концессионного
                    соглашения с Правительством Нижегородской области.</p>
            </div>
        </div>
    </div>
</section>
