<section class="banner" id="banner">
    <div class="banner__background">
        <img class="banner__background-desktop" src="../../assets/images/banner.jpg" alt="">
        <img class="banner__background-mobile" src="../../assets/images/banner-mob.jpg" alt="">

    </div>
    <div class="banner__headline">
        <div class="banner__title">
            <span class="banner__title-text"> 5 минут над Окой</span>
            <span class="banner__title-line"></span>
            <span class="banner__title-text">соединяем Нижний</span>
        </div>
        <span class="banner__subtitle">Строительство идет!</span>
        <a class="banner__link" href="#main-events">
            <span class="banner__link-text">Основные этапы </span>
            <img class="banner__link-icon" src="../../assets/images/icons/arrow-down.svg" alt="">
        </a>
    </div>
</section>
