<section class="banner" id="banner">
    <div class="banner__background">
        <img src="../../assets/images/banner.jpg" alt="">
    </div>
    <h1 class="banner__title">
        <span>Канатная дорога через р. Оку</span>
        <span>Строительство идет!</span>
    </h1>
    <div class="banner__slider">
        <div class="banner__slider-title">
            <span>Основные этапы </span>
        </div>
        <div class="swiper banner__swiper">
            <div class="swiper-wrapper banner__swiper-wrapper">
                <div class="swiper-slide banner__swiper-slide">
                    <div class="banner__slide-wrapper">
                        <div class="banner__slide-stage banner__slide-stage-completed">
                            <div class="banner__slide-left">
                                <div class="banner__slide-subtitle">
                                    <img src="../../assets/images/icons/checkmark.png" alt="">
                                    <span class="banner__slide-subtitle-text">Выполнено</span>
                                </div>
                                <span class="banner__slide-title">Подготовка территории <br /> строительства</span>
                            </div>
                            <div class="banner__slide-right">
                                <img src="../../assets/images/slider-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide banner__swiper-slide">
                    <div class="banner__slide-wrapper">
                        <div class="banner__slide-stage banner__slide-stage-completed">
                            <div class="banner__slide-left">
                                <div class="banner__slide-subtitle">
                                    <img src="../../assets/images/icons/checkmark.png" alt="">
                                    <span class="banner__slide-subtitle-text">Выполнено</span>
                                </div>
                                <span class="banner__slide-title">Рытье котлованов <br /> и подготовка
                                    фундаментов</span>
                            </div>
                            <div class="banner__slide-right">
                                <img src="../../assets/images/slider-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide banner__swiper-slide">
                    <div class="banner__slide-wrapper">
                        <div class="banner__slide-stage banner__slide-stage-completed">
                            <div class="banner__slide-left">
                                <div class="banner__slide-subtitle">
                                    <img src="../../assets/images/icons/checkmark.png" alt="">
                                    <span class="banner__slide-subtitle-text">Выполнено</span>
                                </div>
                                <span class="banner__slide-title">Строительство <br /> станции «Заречная»</span>
                            </div>
                            <div class="banner__slide-right">
                                <img src="../../assets/images/slider-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide banner__swiper-slide">
                    <div class="banner__slide-wrapper">
                        <div class="banner__slide-stage banner__slide-stage-completed">
                            <div class="banner__slide-left">
                                <div class="banner__slide-subtitle">
                                    <img src="../../assets/images/icons/checkmark.png" alt="">
                                    <span class="banner__slide-subtitle-text">Выполнено</span>
                                </div>
                                <span class="banner__slide-title">Строительство станции <br /> «Проспект
                                    Гагарина»</span>
                            </div>
                            <div class="banner__slide-right">
                                <img src="../../assets/images/slider-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide banner__swiper-slide">
                    <div class="banner__slide-wrapper">
                        <div class="banner__slide-stage banner__slide-stage-ongoing">
                            <div class="banner__slide-left">
                                <div class="banner__slide-subtitle">
                                    <span class="banner__slide-subtitle-circle"></span>
                                    <span class="banner__slide-subtitle-text">Идет работа</span>
                                </div>
                                <span class="banner__slide-title">Строительство <br /> станции «Тихая Гавань»</span>
                            </div>
                            <div class="banner__slide-right">
                                <img src="../../assets/images/slider-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide banner__swiper-slide">
                    <div class="banner__slide-wrapper">
                        <div class="banner__slide-stage banner__slide-stage-await">
                            <div class="banner__slide-left">
                                <div class="banner__slide-subtitle">
                                    <img src="../../assets/images/icons/stopwatch.png" alt="">
                                    <span class="banner__slide-subtitle-text">Предстоит</span>
                                </div>
                                <span class="banner__slide-title">Монтаж опор</span>
                            </div>
                            <div class="banner__slide-right">
                                <img src="../../assets/images/slider-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide banner__swiper-slide">
                    <div class="banner__slide-wrapper">
                        <div class="banner__slide-stage banner__slide-stage-await">
                            <div class="banner__slide-left">
                                <div class="banner__slide-subtitle">
                                    <img src="../../assets/images/icons/stopwatch.png" alt="">
                                    <span class="banner__slide-subtitle-text">Предстоит</span>
                                </div>
                                <span class="banner__slide-title">Монтаж канатов <br /> и технологического <br />
                                    оборудования</span>
                            </div>
                            <div class="banner__slide-right">
                                <img src="../../assets/images/slider-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide banner__swiper-slide">
                    <div class="banner__slide-wrapper">
                        <div class="banner__slide-stage banner__slide-stage-await">
                            <div class="banner__slide-left">
                                <div class="banner__slide-subtitle">
                                    <img src="../../assets/images/icons/stopwatch.png" alt="">
                                    <span class="banner__slide-subtitle-text">Предстоит</span>
                                </div>
                                <span class="banner__slide-title">Отделочные работы</span>
                            </div>
                            <div class="banner__slide-right">
                                <img src="../../assets/images/slider-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide banner__swiper-slide">
                    <div class="banner__slide-wrapper">
                        <div class="banner__slide-stage banner__slide-stage-await">
                            <div class="banner__slide-left">
                                <div class="banner__slide-subtitle">
                                    <img src="../../assets/images/icons/stopwatch.png" alt="">
                                    <span class="banner__slide-subtitle-text">Предстоит</span>
                                </div>
                                <span class="banner__slide-title">Тестирование <br /> и проверка безопасности</span>
                            </div>
                            <div class="banner__slide-right">
                                <img src="../../assets/images/slider-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide banner__swiper-slide">
                    <div class="banner__slide-wrapper">
                        <div class="banner__slide-stage banner__slide-stage-await">
                            <div class="banner__slide-left">
                                <div class="banner__slide-subtitle">
                                    <img src="../../assets/images/icons/stopwatch.png" alt="">
                                    <span class="banner__slide-subtitle-text">Предстоит</span>
                                </div>
                                <span class="banner__slide-title">Запуск в эксплуатацию</span>
                            </div>
                            <div class="banner__slide-right">
                                <img src="../../assets/images/slider-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner__swiper-nav">
                <div class="banner__swiper-button-prev"></div>
                <div class="banner__swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>
