<section class="faq" id="faq">
    <div class="faq__container container">
        <h2 class="faq__title">Часто задаваемые вопросы</h2>
        <div class="faq__accordion">
            <div class="faq__accordion-item">
                <button class="faq__accordion-trigger">
                    <span class="faq__accordion-title">Насколько канатная дорога бесшумный транспорт?</span>
                    <div class="faq__accordion-icon">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.5 1V36M36 18.5H1" stroke="none" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </div>
                </button>
                <div class="faq__accordion-content">
                    <p class="faq__accordion-text">Канатные дороги относятся к экологичному и практически бесшумному
                        виду транспорта. Единственные элементы, генерирующие шум - <br />
                        это электроприводы. Проектом канатной дороги через р. Оку предусмотрено расположение приводов в
                        специальных звукоизолированных помещениях на станциях.</p>
                </div>
            </div>
            <div class="faq__accordion-item">
                <button class="faq__accordion-trigger">
                    <span class="faq__accordion-title">Какая будет стоимость проезда?</span>
                    <div class="faq__accordion-icon">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.5 1V36M36 18.5H1" stroke="none" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </div>
                </button>
                <div class="faq__accordion-content">
                    <p class="faq__accordion-text">Стоимость проезда для пассажиров будет определена Правительством
                        Нижегородской области после завершения проектирования.</p>
                    <p class="faq__accordion-text">Минтранс со своей стороны прорабатывает возможности включения
                        канатной дороги в меню проездных, которые уже показали свою эффективность
                        в общественном транспорте Нижнего Новгорода</p>
                </div>
            </div>
            <div class="faq__accordion-item">
                <button class="faq__accordion-trigger">
                    <span class="faq__accordion-title">Будут ли сохранены озелененные территории на Бульваре
                        Заречном</span>
                    <div class="faq__accordion-icon">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.5 1V36M36 18.5H1" stroke="none" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </div>
                </button>
                <div class="faq__accordion-content">
                    <p class="faq__accordion-text">В проекте предусмотрены мероприятия по восстановлению нарушенных
                        объектов благоустройства, восстановлению зелёных насаждений.</p>
                    <p class="faq__accordion-text">При планировании мероприятий по восстановлению благоустройства и
                        компенсационной высадки зеленых насаждений будут применяться решения, направленные на увеличение
                        совокупной площади зеленых насаждений на бульваре Заречный.</p>
                </div>
            </div>
            <div class="faq__accordion-item">
                <button class="faq__accordion-trigger">
                    <span class="faq__accordion-title">Будет ли трасса канатной дороги пересекать урочище
                        «Слуда»?</span>
                    <div class="faq__accordion-icon">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.5 1V36M36 18.5H1" stroke="none" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </div>
                </button>
                <div class="faq__accordion-content">
                    <p class="faq__accordion-text">Точное решение будет по результатам инженерных изысканий. Чтобы
                        избежать вырубки деревьев на прилегающей к Урочищу территории разрабатывается проектная
                        документация, которая не предусматривает устройство просеки под трассой канатной дороги, Высота
                        опор
                        принимается такая, чтобы при максимальном провисании канатов расстояние от низа кабины (гондолы)
                        до верхушек деревьев было не менее 2 м.</p>
                </div>
            </div>
            <div class="faq__accordion-item">
                <button class="faq__accordion-trigger">
                    <span class="faq__accordion-title">Предполагается ли какое-то ограничение доступа к опорам канатной
                        дороги?</span>
                    <div class="faq__accordion-icon">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.5 1V36M36 18.5H1" stroke="none" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </div>
                </button>
                <div class="faq__accordion-content">
                    <p class="faq__accordion-text">Да, предусматривается ограничение доступа к линейным опорам. С этой
                        целью предусматривается выполнить ограждение площадок размещения линейных опор, их освещение
                        и размещение на опорах видеокамер охранного телевидения.</p>
                </div>
            </div>
            <div class="faq__accordion-item">
                <button class="faq__accordion-trigger">
                    <span class="faq__accordion-title">Как рассчитывался плановый пассажиропоток по новой канатной
                        дороге?</span>
                    <div class="faq__accordion-icon">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.5 1V36M36 18.5H1" stroke="none" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </div>
                </button>
                <div class="faq__accordion-content">
                    <p class="faq__accordion-text">Плановый пассажиропоток проекта в размере 10 тыс. пассажиров в сутки
                        определен на основании региональных документов транспортного планирования, сопоставимых данных
                        по пассажиропотоку Борской канатной дороги и данных по пассажиропотоку на маршрутах городского
                        общественного транспорта.</p>
                </div>
            </div>
            <div class="faq__accordion-item">
                <button class="faq__accordion-trigger">
                    <span class="faq__accordion-title">Какая инфраструктура предусмотрена на станциях канатной
                        дороги?</span>
                    <div class="faq__accordion-icon">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.5 1V36M36 18.5H1" stroke="none" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </div>
                </button>
                <div class="faq__accordion-content">
                    <p class="faq__accordion-text">Конструкции всех станций будут представлять собой полностью закрытые
                        павильоны с отоплением и системой кондиционирования. На каждом этаже станций предусмотрены
                        туалеты, комната матери и ребенка, зоны безопасности, операторские комнаты, а также зоны
                        свободных помещений, которые могут быть использованы под разные нужды. Здесь могут быть
                        размещены автоматы с едой и напитками или даже кафе.</p>
                </div>
            </div>
            <div class="faq__accordion-item">
                <button class="faq__accordion-trigger">
                    <span class="faq__accordion-title">Будет ли интересна канатная дорога туристам?</span>
                    <div class="faq__accordion-icon">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.5 1V36M36 18.5H1" stroke="none" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </div>
                </button>
                <div class="faq__accordion-content">
                    <p class="faq__accordion-text">Одна из станций новой канатной дороги находится в непосредственной
                        близости от парка «Швейцария» – одной из главных прогулочных зеленых зон Нижнего Новгорода, в
                        выходные парк посещают тысячи жителей города и туристов. Благодаря канатной дороге, до парка
                        можно будет добраться быстрее. <br /> Интерес к канатной дороге как к туристскому объекту
                        подтверждается результатами опроса общественного мнения. Около 55% опрошенных жителей Нижнего
                        Новгорода отмечают туристскую привлекательность канатной дороги. Около 61% опрошенных
                        подчеркнули, что канатная дорога -
                        это увлекательный туристический аттракцион.</p>
                </div>
            </div>
            <div class="faq__accordion-item">
                <button class="faq__accordion-trigger">
                    <span class="faq__accordion-title">В каком формате выступает ГК «Урбантех» в данном проекте?</span>
                    <div class="faq__accordion-icon">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.5 1V36M36 18.5H1" stroke="none" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </div>
                </button>
                <div class="faq__accordion-content">
                    <p class="faq__accordion-text">Проект канатной дороги через Оку реализуется по принципу
                        государственно-частного партнерства на основе концессионного соглашения
                        с Правительством Нижегородской области. Объем инвестиций в проект составит более 4,9 млрд
                        руб.<br />
                        Согласно условиям концессии, проект будет финансироваться ГК «Урбантех», без использования
                        средств регионального бюджета. По завершении строительства канатная дорога полностью перейдет в
                        собственность Нижегородской области. Концессионер вернет свои инвестиции с помощью средств,
                        получаемых от оплаты проезда.</p>
                </div>
            </div>
        </div>
    </div>
</section>
