<section class="feedback" id="feedback">
    <div class="feedback__container container">
        <div class="feedback__wrapper">
            <header class="feedback__header">
                <h2 class="feedback__title">Обратная связь</h2>
                <p class="feedback__text">Если у вас есть вопросы о работе канатной дороги, <br />
                    замечания или предложения, пожалуйста, напишите нам в форме ниже. <br /> Мы обязательно ответим в
                    течение
                    двух рабочих дней.</p>
            </header>
            <form class="feedback__form" action="">
                <div class="feedback__field">
                    <input type="text" id="name" class="feedback__input" placeholder="Ваше имя">
                </div>
                <div class="feedback__field">
                    <input type="email" id="email" class="feedback__input" placeholder="Ваш Email">
                </div>
                <div class="feedback__field feedback__field--textarea">
                    <textarea id="message" class="feedback__input feedback__input--textarea"
                        placeholder="Ваш вопрос"></textarea>
                </div>
                <div class="feedback__field feedback__field--file">
                    <input type="file" class="feedback__input feedback__input--file" id="file" name="file">
                    <label for="file" class="feedback__label feedback__label--file">Загрузить файл</label>
                </div>
                <button type="submit" class="feedback__button">Отправить</button>
            </form>
        </div>
    </div>
</section>
