<section class="media-gallery">
    <div class="media-gallery__container container">
        <div class="media-gallery__wrapper">
            <div class="media-gallery__video-block">
                <h2 class="media-gallery__title">Видеовизуализация проекта</h2>
                <div class="media-gallery__video">
                    <a href="https://youtu.be/0mh5d2a8wp0?si=a5lLFqnMIPSTdTEX" data-fancybox="video">
                        <img src="../../assets/images/poster.jpg" alt="Video poster" />
                    </a>
                    <div class="media-gallery__video-play">
                        <img src="../../assets/images/icons/play.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="media-gallery__stations">
                <h2 class="media-gallery__title">Галереи станций</h2>
                <div class="media-gallery__station-buttons">
                    <button class="media-gallery__station-button" data-fancybox-trigger="zarechnaya">
                        <div class="media-gallery__station-thumb">
                            <img src="../../assets/images/gallery-poster-1.jpg" alt="Заречная" />
                        </div>
                        <span class="media-gallery__station-name">Заречная</span>
                        <div class="media-gallery__station-icon">
                            <img src="../../assets/images/icons/arrow-subtract.svg" alt="" />
                        </div>
                    </button>
                    <button class="media-gallery__station-button" data-fancybox-trigger="tikhaya-gavan">
                        <div class="media-gallery__station-thumb">
                            <img src="../../assets/images/gallery-poster-2.jpg" alt="Тихая гавань" />
                        </div>
                        <span class="media-gallery__station-name">Тихая гавань</span>
                        <div class="media-gallery__station-icon">
                            <img src="../../assets/images/icons/arrow-subtract.svg" alt="" />
                        </div>
                    </button>
                    <button class="media-gallery__station-button" data-fancybox-trigger="gagarina">
                        <div class="media-gallery__station-thumb">
                            <img src="../../assets/images/gallery-poster-3.jpg" alt="Проспект Гагарина" />
                        </div>
                        <span class="media-gallery__station-name">Проспект Гагарина</span>
                        <div class="media-gallery__station-icon">
                            <img src="../../assets/images/icons/arrow-subtract.svg" alt="" />
                        </div>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="media-gallery__galleries">
        <div class="media-gallery__gallery">
            <a data-fancybox="zarechnaya" href="../../assets/images/gallery-1.jpg">
                <img src="../../assets/images/gallery-1.jpg" alt="Заречная 1" />
            </a>
            <a data-fancybox="zarechnaya" href="../../assets/images/gallery-1.jpg">
                <img src="../../assets/images/gallery-1.jpg" alt="Заречная 2" />
            </a>
            <a data-fancybox="zarechnaya" href="../../assets/images/gallery-1.jpg">
                <img src="../../assets/images/gallery-1.jpg" alt="Заречная 3" />
            </a>
        </div>
        <div class="media-gallery__gallery">
            <a data-fancybox="tikhaya-gavan" href="../../assets/images/gallery-2.jpg">
                <img src="../../assets/images/gallery-2.jpg" alt="Тихая гавань 1" />
            </a>
            <a data-fancybox="tikhaya-gavan" href="../../assets/images/gallery-2.jpg">
                <img src="../../assets/images/gallery-2.jpg" alt="Тихая гавань 2" />
            </a>
            <a data-fancybox="tikhaya-gavan" href="../../assets/images/gallery-2.jpg">
                <img src="../../assets/images/gallery-2.jpg" alt="Тихая гавань 3" />
            </a>
        </div>
        <div class="media-gallery__gallery">
            <a data-fancybox="gagarina" href="../../assets/images/gallery-3.jpg">
                <img src="../../assets/images/gallery-3.jpg" alt="Проспект Гагарина 1" />
            </a>
            <a data-fancybox="gagarina" href="../../assets/images/gallery-3.jpg">
                <img src="../../assets/images/gallery-3.jpg" alt="Проспект Гагарина 2" />
            </a>
            <a data-fancybox="gagarina" href="../../assets/images/gallery-3.jpg">
                <img src="../../assets/images/gallery-3.jpg" alt="Проспект Гагарина 3" />
            </a>
        </div>
    </div>
</section>
