<header class="header">
    <div class="header__container container">
        <div class="header__wrapper">
            <a href="#banner" class="header__logo">
                <img src="../../assets/images/logos/logo-header.svg" alt="UrbanTex">
            </a>
            <nav class="header__nav header__nav-desktop">
                <ul class="header__menu">
                    <li class="header__item"><a href="#about" class="header__link">О проекте</a></li>
                    <li class="header__item"><a href="#news" class="header__link">Новости</a></li>
                    <li class="header__item"><a href="#faq" class="header__link">Вопросы</a></li>
                    <li class="header__item"><a href="#feedback" class="header__link">Обратная связь</a></li>
                    <li class="header__item"><a href="#contacts" class="header__link">Контакты</a></li>
                </ul>
            </nav>
            <div class="header__right">
                <div class="header__social">
                    <a href="#" target="_blank" class="header__social-icon">
                        <img src="../../assets/images/icons/vk.png" alt="VK">
                    </a>
                </div>
                <div class="header__burger">
                    <span class="header__burger-line header__burger-line--first"></span>
                    <span class="header__burger-line header__burger-line--second"></span>
                </div>

            </div>

            <nav class="header__nav header__nav-mobile">
                <div class="header__nav-close">
                    <img src="../../assets/images/icons/x.svg" alt="">
                </div>
                <ul class="header__menu">
                    <li class="header__item"><a href="#about" class="header__link">О проекте</a></li>
                    <li class="header__item"><a href="#" class="header__link">Основные события</a></li>
                    <li class="header__item"><a href="#news" class="header__link">Новости</a></li>
                    <li class="header__item"><a href="#faq" class="header__link">Вопросы</a></li>
                    <li class="header__item"><a href="#feedback" class="header__link">Обратная связь</a></li>
                    <li class="header__item"><a href="#contacts" class="header__link">Контакты</a></li>
                </ul>
                <div class="header__nav-social">
                    <a href="#" target="_blank" class="header__social-icon">
                        <img src="../../assets/images/icons/vk-white.png" alt="VK">
                    </a>
                    <a href="#" target="_blank" class="header__social-icon">
                        <img src="../../assets/images/icons/google.png" alt="VK">
                    </a>
                </div>
            </nav>
        </div>
    </div>
</header>
