<div class="main-events" id="main-events">
    <div class="main-events__container container">
        <div class="main-events__title">
            <span>Основные этапы </span>
        </div>
    </div>
    <div class="swiper main-events__swiper">
        <div class="swiper-wrapper main-events__swiper-wrapper">

            <div class="swiper-slide main-events__swiper-slide">
                <div class="main-events__slide-wrapper">
                    <div class="main-events__slide-stage main-events__slide-stage-completed">
                        <div class="main-events__slide-left">
                            <div class="main-events__slide-subtitle">
                                <img src="../../assets/images/icons/checkmark.svg" alt="">
                                <span class="main-events__slide-subtitle-text">Выполнено</span>
                            </div>
                            <span class="main-events__slide-title">Подготовка территории <br /> строительства</span>
                        </div>
                        <div class="main-events__slide-right">
                            <img src="../../assets/images/slide-1.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide main-events__swiper-slide">
                <div class="main-events__slide-wrapper">
                    <div class="main-events__slide-stage main-events__slide-stage-completed">
                        <div class="main-events__slide-left">
                            <div class="main-events__slide-subtitle">
                                <img src="../../assets/images/icons/checkmark.svg" alt="">
                                <span class="main-events__slide-subtitle-text">Выполнено</span>
                            </div>
                            <span class="main-events__slide-title">Рытье котлованов <br /> и подготовка
                                фундаментов</span>
                        </div>
                        <div class="main-events__slide-right">
                            <img src="../../assets/images/slide-2.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide main-events__swiper-slide">
                <div class="main-events__slide-wrapper">
                    <div class="main-events__slide-stage main-events__slide-stage-completed">
                        <div class="main-events__slide-left">
                            <div class="main-events__slide-subtitle">
                                <img src="../../assets/images/icons/checkmark.svg" alt="">
                                <span class="main-events__slide-subtitle-text">Выполнено</span>
                            </div>
                            <span class="main-events__slide-title">Строительство <br /> станции «Заречная»</span>
                        </div>
                        <div class="main-events__slide-right">
                            <img src="../../assets/images/slide-3.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide main-events__swiper-slide">
                <div class="main-events__slide-wrapper">
                    <div class="main-events__slide-stage main-events__slide-stage-completed">
                        <div class="main-events__slide-left">
                            <div class="main-events__slide-subtitle">
                                <img src="../../assets/images/icons/checkmark.svg" alt="">
                                <span class="main-events__slide-subtitle-text">Выполнено</span>
                            </div>
                            <span class="main-events__slide-title">Строительство станции <br /> «Проспект
                                Гагарина»</span>
                        </div>
                        <div class="main-events__slide-right">
                            <img src="../../assets/images/slide-4.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide main-events__swiper-slide">
                <div class="main-events__slide-wrapper">
                    <div class="main-events__slide-stage main-events__slide-stage-ongoing">
                        <div class="main-events__slide-left">
                            <div class="main-events__slide-subtitle">
                                <span class="main-events__slide-subtitle-circle"></span>
                                <span class="main-events__slide-subtitle-text">Идет работа</span>
                            </div>
                            <span class="main-events__slide-title">Строительство <br /> станции «Тихая
                                Гавань»</span>
                        </div>
                        <div class="main-events__slide-right">
                            <img src="../../assets/images/slide-5.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide main-events__swiper-slide">
                <div class="main-events__slide-wrapper">
                    <div class="main-events__slide-stage main-events__slide-stage-await">
                        <div class="main-events__slide-left">
                            <div class="main-events__slide-subtitle">
                                <img src="../../assets/images/icons/stopwatch.png" alt="">
                                <span class="main-events__slide-subtitle-text">Предстоит</span>
                            </div>
                            <span class="main-events__slide-title">Монтаж опор</span>
                        </div>
                        <div class="main-events__slide-right">
                            <img src="../../assets/images/slide-6.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide main-events__swiper-slide">
                <div class="main-events__slide-wrapper">
                    <div class="main-events__slide-stage main-events__slide-stage-await">
                        <div class="main-events__slide-left">
                            <div class="main-events__slide-subtitle">
                                <img src="../../assets/images/icons/stopwatch.png" alt="">
                                <span class="main-events__slide-subtitle-text">Предстоит</span>
                            </div>
                            <span class="main-events__slide-title">Монтаж канатов <br /> и технологического <br />
                                оборудования</span>
                        </div>
                        <div class="main-events__slide-right">
                            <img src="../../assets/images/slide-7.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide main-events__swiper-slide">
                <div class="main-events__slide-wrapper">
                    <div class="main-events__slide-stage main-events__slide-stage-await">
                        <div class="main-events__slide-left">
                            <div class="main-events__slide-subtitle">
                                <img src="../../assets/images/icons/stopwatch.png" alt="">
                                <span class="main-events__slide-subtitle-text">Предстоит</span>
                            </div>
                            <span class="main-events__slide-title">Отделочные работы</span>
                        </div>
                        <div class="main-events__slide-right">
                            <img src="../../assets/images/slide-8.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide main-events__swiper-slide">
                <div class="main-events__slide-wrapper">
                    <div class="main-events__slide-stage main-events__slide-stage-await">
                        <div class="main-events__slide-left">
                            <div class="main-events__slide-subtitle">
                                <img src="../../assets/images/icons/stopwatch.png" alt="">
                                <span class="main-events__slide-subtitle-text">Предстоит</span>
                            </div>
                            <span class="main-events__slide-title">Установка кабин</span>
                        </div>
                        <div class="main-events__slide-right">
                            <img src="../../assets/images/slide-9.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide main-events__swiper-slide">
                <div class="main-events__slide-wrapper">
                    <div class="main-events__slide-stage main-events__slide-stage-await">
                        <div class="main-events__slide-left">
                            <div class="main-events__slide-subtitle">
                                <img src="../../assets/images/icons/stopwatch.png" alt="">
                                <span class="main-events__slide-subtitle-text">Предстоит</span>
                            </div>
                            <span class="main-events__slide-title">Тестирование <br /> и проверка
                                безопасности</span>
                        </div>
                        <div class="main-events__slide-right">
                            <img src="../../assets/images/slide-10.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide main-events__swiper-slide">
                <div class="main-events__slide-wrapper">
                    <div class="main-events__slide-stage main-events__slide-stage-await">
                        <div class="main-events__slide-left">
                            <div class="main-events__slide-subtitle">
                                <img src="../../assets/images/icons/stopwatch.png" alt="">
                                <span class="main-events__slide-subtitle-text">Предстоит</span>
                            </div>
                            <span class="main-events__slide-title">Запуск в эксплуатацию</span>
                        </div>
                        <div class="main-events__slide-right">
                            <img src="../../assets/images/slide-11.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-events__swiper-nav">
            <div class="main-events__swiper-button-prev"></div>
            <div class="main-events__swiper-button-next"></div>
        </div>
    </div>
</div>
