<section class="map">
    <div class="map__wrapper">
        <div class="map__draggable">
            <div class="map__media">
                <div class="map__dots map__dots-desk">
                    <div class="map__dot" data-top="4.17" data-right="8.33">
                        <div class="map__dot-title">«Проспект Гагарина»</div>
                        <div class="map__dot-content map__dot-content-desktop">
                            <div class="map__dot-tags">
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        ТРЦ «Океанис»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        5 минут
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        Парк «Швейцария»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        5 минут
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        НИУ РАНХиГС
                                    </div>
                                    <div class="map__dot-tag-time">
                                        10 минут
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        Дворец спорта «Нагорный»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        10 минут
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        ПИМУ, корпус № 2
                                    </div>
                                    <div class="map__dot-tag-time">
                                        2 минут
                                    </div>
                                </div>
                            </div>
                            <div class="map__dot-image">
                                <img src="../../assets/images/map-dot-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="map__dot" data-bottom="28.70" data-right="32.81">
                        <div class="map__dot-title">«Тихая гавань»</div>
                        <div class="map__dot-content map__dot-content-desktop">
                            <div class="map__dot-tags">
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        Яхт-клуб «Тихая гавань»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        5 минут
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        ЖК «КМ Ривер Парк»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        10 минут
                                    </div>
                                </div>

                            </div>
                            <div class="map__dot-image">
                                <img src="../../assets/images/map-dot-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="map__dot" data-bottom="11.11" data-left="3.65">
                        <div class="map__dot-title">«Заречная»</div>
                        <div class="map__dot-content map__dot-content-desktop">
                            <div class="map__dot-tags">
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        ТЦ «Муравей»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        5 минут
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-icon">
                                        <img src="../../assets/images/icons/metro.png" alt="">
                                    </div>
                                    <div class="map__dot-tag-name">
                                        <span>Метро</span>
                                        «Заречная»
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        Гостиница «Заречье»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        5 минут
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        Дворец спорта «Заречье»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        5 минут
                                    </div>
                                </div>
                            </div>
                            <div class="map__dot-image">
                                <img src="../../assets/images/map-dot-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map__dots map__dots-mob">
                    <div class="map__dot" data-top="12" data-right="1">
                        <div class="map__dot-title">«Проспект Гагарина»</div>

                        <div class="map__dot-content map__dot-content-mobile">
                            <div class="map__dot-tags">
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        ТРЦ «Океанис»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        5 минут
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        Парк «Швейцария»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        5 минут
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        НИУ РАНХиГС
                                    </div>
                                    <div class="map__dot-tag-time">
                                        10 минут
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        Дворец спорта «Нагорный»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        10 минут
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        ПИМУ, корпус № 2
                                    </div>
                                    <div class="map__dot-tag-time">
                                        2 минут
                                    </div>
                                </div>
                            </div>
                            <div class="map__dot-title">«Проспект Гагарина»</div>
                            <div class="map__dot-image">
                                <img src="../../assets/images/map-dot-1-mob.jpg" alt="">
                            </div>
                            <div class="map__dot-btn-close">
                                <img src="../../assets/images/icons/close-button.svg" alt="">
                            </div>
                        </div>
                        <div class="map__dot-anim-click">
                            <img src="../../assets/images/icons/hand-up-black.png" alt="">
                        </div>
                    </div>
                    <div class="map__dot" data-bottom="32" data-right="25">
                        <div class="map__dot-title">«Тихая гавань»</div>

                        <div class="map__dot-content map__dot-content-mobile">
                            <div class="map__dot-tags">
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        Яхт-клуб «Тихая гавань»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        5 минут
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        ЖК «КМ Ривер Парк»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        10 минут
                                    </div>
                                </div>

                            </div>
                            <div class="map__dot-title">«Тихая гавань»</div>
                            <div class="map__dot-image">
                                <img src="../../assets/images/map-dot-2-mob.jpg" alt="">
                            </div>
                            <div class="map__dot-btn-close">
                                <img src="../../assets/images/icons/close-button.svg" alt="">
                            </div>
                        </div>
                        <div class="map__dot-anim-click">
                            <img src="../../assets/images/icons/hand-up-black.png" alt="">
                        </div>
                    </div>
                    <div class="map__dot" data-bottom="15" data-left="3">
                        <div class="map__dot-title">«Заречная»</div>

                        <div class="map__dot-content map__dot-content-mobile">
                            <div class="map__dot-tags">
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-icon">
                                        <img src="../../assets/images/icons/metro.png" alt="">
                                    </div>
                                    <div class="map__dot-tag-name">
                                        <span>Метро</span>
                                        «Заречная»
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        ТЦ «Муравей»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        5 минут
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        Гостиница «Заречье»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        5 минут
                                    </div>
                                </div>
                                <div class="map__dot-tag">
                                    <div class="map__dot-tag-name">
                                        Дворец спорта «Заречье»
                                    </div>
                                    <div class="map__dot-tag-time">
                                        5 минут
                                    </div>
                                </div>
                            </div>
                            <div class="map__dot-title">«Заречная»</div>
                            <div class="map__dot-image">
                                <img src="../../assets/images/map-dot-3-mob.jpg" alt="">
                            </div>
                            <div class="map__dot-btn-close">
                                <img src="../../assets/images/icons/close-button.svg" alt="">
                            </div>
                        </div>
                        <div class="map__dot-anim-click">
                            <img src="../../assets/images/icons/hand-up-black.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="map__background">
                    <img src="../../assets/images/map.png" alt="" />
                </div>
            </div>
        </div>
        <div class="map__draggable-instructions">
            <div class="map__draggable-instructions-wrapper">
                <div class="map__draggable-instructions-drag">
                    <div class="map__draggable-instructions-icon">
                        <img src="../../assets/images/icons/hand-arrow.png" alt="">
                    </div>
                    <span class="map__draggable-instructions-title">Посмотреть <br> карту станций</span>
                    <span class="map__draggable-instructions-text">Зажмите и двигайте <br> вправо или влево</span>
                </div>
                <div class="map__draggable-instructions-click">
                    <div class="map__draggable-instructions-click-header">
                        <div class="map__draggable-instructions-click-title">
                            <span>«Тихая гавань»</span>
                        </div>
                        <div class="map__draggable-instructions-icon">
                            <img src="../../assets/images/icons/hand-up.png" alt="">
                        </div>
                    </div>
                    <span class="map__draggable-instructions-title">Прочитать <br> про станцию</span>
                    <span class="map__draggable-instructions-text">Нажмите на блок со станцией, чтобы ознакомиться
                        с близлежащими локациями</span>
                </div>
                <button class="map__draggable-instructions-btn">
                    Понятно
                </button>
            </div>
        </div>
    </div>
</section>
