<section class="news-all">
    <div class="news-all__container container">
        <h2 class="news-all__title">
            Новости
        </h2>
        <div class="news-all__list">
            <article class="news-all__item">
                <a href="news-detail.html" class="news-all__link">
                    <figure class="news-all__image">
                        <img src="../../assets/images/news-1.jpg" alt="">
                    </figure>
                    <div class="news-all__content">
                        <h3 class="news-all__item-title">
                            Нижегородский Минстрой выдал разрешение на <br /> строительство канатной дороги через Оку
                        </h3>
                        <p class="news-all__item-text">
                            Ранее проект получил положительные заключения государственной экспертизы и государственной
                            экологической экспертизы.
                        </p>
                        <time class="news-all__date" datetime="2023-05-20">20.05.2025</time>
                    </div>
                </a>
            </article>
            <article class="news-all__item">
                <a href="news-detail.html" class="news-all__link">
                    <figure class="news-all__image">
                        <img src="../../assets/images/news-2.jpg" alt="">
                    </figure>
                    <div class="news-all__content">
                        <h3 class="news-all__item-title">
                            Ранее проект получил положительные <br /> заключения государственной экспертизы <br /> и
                            государственной
                            экологической экспертизы.
                        </h3>
                        <p class="news-all__item-text">
                            Канатная дорога свяжет бульвар Заречный с проспектом Гагарина в качестве альтернативного
                            вида
                            городского пассажирского транспорта.
                        </p>
                        <time class="news-all__date" datetime="2025-03-20">20.03.2025</time>
                    </div>
                </a>
            </article>
            <article class="news-all__item">
                <a href="news-detail.html" class="news-all__link">
                    <figure class="news-all__image">
                        <img src="../../assets/images/news-3.jpg" alt="">
                    </figure>
                    <div class="news-all__content">
                        <h3 class="news-all__item-title">
                            Проведение общественных обсуждений <br /> (в форме опроса) объекта государственной <br />
                            экологической
                            экспертизы
                        </h3>
                        <p class="news-all__item-text">
                            Срок проведения общественных обсуждений: 30 календарных дней, в период с 18 июля 2024 г. по
                            16
                            августа 2024 г. включительно
                        </p>
                        <time class="news-all__date" datetime="2024-07-12">12.07.2024</time>
                    </div>
                </a>
            </article>
            <article class="news-all__item">
                <a href="news-detail.html" class="news-all__link">
                    <figure class="news-all__image">
                        <img src="../../assets/images/news-4.jpg" alt="">
                    </figure>
                    <div class="news-all__content">
                        <h3 class="news-all__item-title">
                            Проведение общественных обсуждений (в форме опроса) объекта государственной экологической
                            экспертизы
                        </h3>

                        <time class="news-all__date" datetime="2023-11-28">28.11.2023</time>
                    </div>
                </a>
            </article>
            <article class="news-all__item">
                <a href="news-detail.html" class="news-all__link">
                    <figure class="news-all__image">
                        <img src="../../assets/images/news-5.jpg" alt="">
                    </figure>
                    <div class="news-all__content">
                        <h3 class="news-all__item-title">
                            Утверждена документация по планировке территории для строительства канатной дороги
                            через Оку в Нижнем Новгороде
                        </h3>
                        <p class="news-all__item-text">
                            ГБУ НО «Институт развития агломерации Нижегородской области» завершило разработку
                            документации по планировке территории для строительства канатной дороги через Оку
                        </p>
                        <time class="news-all__date" datetime="2023-10-10">10.10.2023</time>
                    </div>
                </a>
            </article>
            <article class="news-all__item">
                <a href="news-detail.html" class="news-all__link">
                    <figure class="news-all__image">
                        <img src="../../assets/images/news-6.jpg" alt="">
                    </figure>
                    <div class="news-all__content">
                        <h3 class="news-all__item-title">
                            В Нижнем Новгороде подвели итоги конкурса детских рисунков о новой канатной дороге
                        </h3>
                        <p class="news-all__item-text">
                            Конкурс проводился ГК «Урбантех» совместно с правительством Нижегородской области,
                            Общественной палатой Нижнего Новгорода и центром развития творчества детей и юношества
                            региона
                        </p>
                        <time class="news-all__date" datetime="2023-08-10">10.08.2023</time>
                    </div>
                </a>
            </article>
            <article class="news-all__item">
                <a href="news-detail.html" class="news-all__link">
                    <figure class="news-all__image">
                        <img src="../../assets/images/news-7.jpg" alt="">
                    </figure>
                    <div class="news-all__content">
                        <h3 class="news-all__item-title">
                            Утверждены эскизный проект и трассировка канатной дороги
                        </h3>
                        <p class="news-all__item-text">
                            Проект канатной дороги через Оку в Нижнем Новгороде будет готов к февралю 2024 года
                        </p>
                        <time class="news-all__date" datetime="2023-07-27">27.07.2023</time>
                    </div>
                </a>
            </article>
            <article class="news-all__item">
                <a href="news-detail.html" class="news-all__link">
                    <figure class="news-all__image">
                        <img src="../../assets/images/news-8.jpg" alt="">
                    </figure>
                    <div class="news-all__content">
                        <h3 class="news-all__item-title">
                            Конкурс рисунков продолжается!
                        </h3>
                        <p class="news-all__item-text">
                            Творческое приключение для юных художников с выигрышем призов
                        </p>
                        <time class="news-all__date" datetime="2023-07-11">11.07.2023</time>
                    </div>
                </a>
            </article>
            <article class="news-all__item">
                <a href="news-detail.html" class="news-all__link">
                    <figure class="news-all__image">
                        <img src="../../assets/images/news-9.jpg" alt="">
                    </figure>
                    <div class="news-all__content">
                        <h3 class="news-all__item-title">
                            Конкурс детского рисунка на тему новой канатной дороги в Нижнем Новгороде!
                        </h3>
                        <p class="news-all__item-text">
                            Принимайте участие до 10 июля и выигрывайте призы!
                        </p>
                        <time class="news-all__date" datetime="2023-06-19">19.06.2023</time>
                    </div>
                </a>
            </article>
            <article class="news-all__item">
                <a href="news-detail.html" class="news-all__link">
                    <figure class="news-all__image">
                        <img src="../../assets/images/news-10.jpg" alt="">
                    </figure>
                    <div class="news-all__content">
                        <h3 class="news-all__item-title">
                            Жители Нижнего Новгорода выступают за строительство канатной дороги через Оку
                        </h3>
                        <p class="news-all__item-text">
                            Данные социологического опроса были представлены 18 мая на круглом столе, который
                            организовала Общественная палата Нижнего Новгорода.
                        </p>
                        <time class="news-all__date" datetime="2023-05-24">24.05.2023</time>
                    </div>
                </a>
            </article>
            <article class="news-all__item">
                <a href="news-detail.html" class="news-all__link">
                    <figure class="news-all__image">
                        <img src="../../assets/images/news-11.jpg" alt="">
                    </figure>
                    <div class="news-all__content">
                        <h3 class="news-all__item-title">
                            Архитектурному совету Нижегородской области представлен эскизный проект станций будущей
                            канатной дороги через Оку
                        </h3>

                        <time class="news-all__date" datetime="2023-04-21">21.04.2023</time>
                    </div>
                </a>
            </article>
            <article class="news-all__item">
                <a href="news-detail.html" class="news-all__link">
                    <figure class="news-all__image">
                        <img src="../../assets/images/news-12.jpg" alt="">
                    </figure>
                    <div class="news-all__content">
                        <h3 class="news-all__item-title">
                            Новый путь через Оку: в Нижнем Новгороде построят вторую канатную дорогу
                        </h3>

                        <time class="news-all__date" datetime="2023-04-16">16.04.2023</time>
                    </div>
                </a>
            </article>
            <article class="news-all__item">
                <a href="news-detail.html" class="news-all__link">
                    <figure class="news-all__image">
                        <img src="../../assets/images/news-13.jpg" alt="">
                    </figure>
                    <div class="news-all__content">
                        <h3 class="news-all__item-title">
                            Вторую канатную дорогу в Нижнем Новгороде запустят в 2025 году
                        </h3>

                        <time class="news-all__date" datetime="2023-04-16">16.04.2023</time>
                    </div>
                </a>
            </article>
            <article class="news-all__item">
                <a href="news-detail.html" class="news-all__link">
                    <figure class="news-all__image">
                        <img src="../../assets/images/news-14.jpg" alt="">
                    </figure>
                    <div class="news-all__content">
                        <h3 class="news-all__item-title">
                            Канатную дорогу через Оку построят в Нижнем Новгороде в 2025 году
                        </h3>

                        <time class="news-all__date" datetime="2023-03-24">24.03.2023</time>
                    </div>
                </a>
            </article>
        </div>
    </div>
</section>
